### IntelliJ/Android Studio ###

# - metadata
/.idea/
*.iml

# - temporary files
/captures/

# - build output
/out/


### Eclipse ###

# - metadata
/.settings/
/.metadata/
.project
.classpath

# - build output
/bin/


### NetBeans ###

# - metadata
/nbproject/
/.nb-gradle/

# - build output
/build/
/nbbuild/
/dist/
/nbdist/


### VS Code ###

# - metadata
.vscode/

### Gradle ###

# - temporary files
/.gradle/

# - local properties
local.properties


### Maven ###

# - developer info
HELP.md

# - build output
/target/


### Derby ###

# - data directory
/codebreaker-db/

# - log file
derby.log

### H2 ###
/codebreaker-h2*

### Floobits ###

# - metadata
.floo
.flooignore


### OS X ###

# - metadata
.DS_Store
